{% extends "admin/base_site.html" %}

{% block content %}

{% if errors %}
<p style="color:red;">{{ errors }}</p>
{% endif %}

<p>Enter email parameters:</p>

<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}

    {{ form.as_p }}

    {% if async %}
    <input type="hidden" name="action" value="send_async_template_mail" />
    {% else %}
    <input type="hidden" name="action" value="send_sync_template_mail" />
    {% endif %}
    <input type="submit" name="apply" value="Send" />
</form>

{% endblock %}
